<div class="hero">
	<br />
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>Code and Launch your Own Web Application</h1>
		<br />
		<h2>Gain the technical skills needed!</h2>
		<br />
		<%= link_to 'Learn More', courses_path, :class => 'btn btn-success'%>
		<br /><br />
	</div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<br />
		<%= image_tag 'play.png' %>
		<br />
		<br />
		<p>Step by step video instructions on how to build an awesome web application</p>
	</div>
	<div class="col-sm-4">
		<br />
		<%= image_tag 'laptop.png' %>
		<br />
		<br />
		<p>Learn the latest technologies used by the best Startups to build and launch products fast.</p>
	</div>
	<div class="col-sm-4">
		<br />
		<%= image_tag 'syntax.png' %>
		<br />
		<br />
		<p>All the code snippets, cheat sheets and notes you need to continue building applications on your own after the class is over.</p>
	</div>
	</div>
</div>